@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

$violetColor: #6700ee;
$whiteColor: #fbf9f8;
$subtColor: #ff64cb;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

.nav-container{
    background-color: $violetColor;
    a{
        color: $whiteColor;
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #00f7ff;
        font-weight: bold;
    }

    ul{
        display: flex;
        a{
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header{
    display: none;
}

.hero{
    background-color: $violetColor;
    color: $whiteColor;
    display: grid;
    text-align: center;
    padding: 4em;
    h1{
        margin-bottom: .4em;
    }
    .featured-desc{
        color: $whiteColor;
        font-size: 15px;
        font-weight: normal;
    }
}
.img-box{
    position: relative;
    width: 200px;
    height: 400px;
}


   
.hero-img{
    // height:
    margin-left: -50px;
    position: relative;
    
}


.meet-btn{
    margin: 2.5rem auto;
    width: 200px;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #00f7ff;
    text-align: center;
    border-radius: .5em;
    
    a{
        color: $violetColor;
    }
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;
    img{
        border-radius: .5em;
    }
}

.featured::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e2a0d9;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: $subtColor;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    // margin-top: -.4em;
    display: block;
    a{
        color: black;
    }
}

.featured-desc{
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

 .second{
    color: #3b3b3b;
    margin-bottom: 1em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

.technologies{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.skills{
    background-color: #fe64cb;
    h2{
        margin-bottom: 2em;
        color: $violetColor;
    }
    .skills-container ul li{
        background-color: $whiteColor;
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;
    }
    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        i{
            font-size: 2em;
            color: $violetColor;
        }
    }

    .skill-title{
        font-weight: bold;
        margin-bottom: 1rem;
        color: $violetColor;
    }
}

.portfolio{
    background-color: #f7f7f7;
}

.portfolio-container a img, .portfolio-container a div{
    border-radius: 1em;
    margin-bottom: 2em;
}
.portfolio-container a div{
    // background-color: red;
    width: 100%;
    // height: 400px;
    max-height: 350px;
    overflow: hidden;
    box-shadow: 2px 0px 8px rgba(0,0,0,.1);
}

.portfolio-container a div video{
    min-width: 50%;
    min-height: 50%;
}

.portfolio{
    .middle{
        display: grid;
        div{
            order: -1;
        }
        .project-details{
            display: flex;
            flex-direction: column;

        }
        // display: flex;
        // flex-direction: column-reverse;

    }
}
.featured-title{
    a{
        color:$violetColor;
    }
}
.links{
    i{
        font-size: 1.2em;
        color: $subtColor;
    }
}

.portfolio{
    h2,.resume{
        text-align: center;
    }
    h2{
        color: $violetColor;
        margin-bottom: 3em;
    }
    text-align: center;
    .resume{
        margin-top: 3.5rem;
    }
    .resume-btn{
        margin: 3.5rem auto 0;
        width: 200px;
        font-weight: bold;
        padding: 8px 26px;
        background-color: #00f7ff;
        text-align: center;
        border-radius: .5em;
        color: $violetColor; 
        
    }
}

.contact{
    text-align: center;
    margin: 0 auto;
    h2{
        color: $violetColor;
    }
    p{
        width: 100%;
        margin: 1em auto 0;
        text-align: center;
    }
}
.contact .contact-btn{
    margin: 2rem auto;
    width: 200px;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #00f7ff;
    text-align: center;
    border-radius: .5em;
    
    a{
        color: $violetColor;
    }
}

// Footer
footer{
    background: $violetColor;
    padding: 2em;
    text-align: center;
    color: $whiteColor;
    .social-header-footer{
        margin-bottom: 2em;
        ul{
            display: flex;
            justify-items: center;
            justify-content: center;
        }
    }
    li{
        margin-right: 1em;
    }
    i{
        color: $whiteColor;
        font-size: 1.5em;
    }
   
}




// Media Queries
@media only screen and (min-width: 800px){
    .featured, .portfolio{
        text-align: left;
    }
    .featured,.portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }
   
    .middle{
        display: grid;
        grid-template-columns: auto 40%;
    }
    .middle {
        order: unset;
    }
    .left-content, .portfolio-text{
        display: grid;
        place-content: center;
    }

    .img-content{
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 1em;
    }

    .portfolio{
        padding-top: 7em;
    }

    .portfolio-container img:not(1), .middle-text{
        margin-left: 2em;
    }
    .middle div{
        order: unset;
    }
    .portfolio{
        .middle{
            display: grid;
            div{
                order: 1;
            }
           
        }
    }

   
}

@media only screen and (min-width: 1050px){
    .hero{
        height: 90vh;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background-color: $violetColor;
        }
    }

    header{
        padding: 2em 2em 2em 4em;
    }

    .social-header{
        padding: 2em 4em 2em 0;
    }

    section{
        padding: 4em;
    }

    .social-header{
        background: $violetColor;
        display: block;
        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            i{
                width: 20px;
                color: $whiteColor;
            }
        }
    }

    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: $violetColor;
        padding: 0;
        .content{
            background: $violetColor;
            padding: 6em 8em 6em 4em;
            text-align: left;
            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
            .name{
                color: $subtColor;
            }
        }
    }
    .meet-btn{
        margin: unset;
    }

    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }
    .middle div{
        order: unset;
    }
    .portfolio img,.featured .img-content, .portfolio a div{
        float: right;
        max-width: 500px;
    }
    .portfolio .middle img, .portfolio .middle div{
        float: left;
        max-width: 500px;
    }
    .portfolio{
        .middle{
            display: grid;
            div{
                order: 1;
            }
           
        }
    }
}

@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 10em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding:6em 20em 4em 20em;
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
    .portfolio{
        .middle{
            display: grid;
            div{
                order: 1;
            }
           
        }
    }
}

// Animations
